* {
  /* сброс дефолтных отступов*/
  padding: 0;
  margin: 0;
}

body {
  background: #fdeaa8;
}

.main {
  width: 1000px;
  margin: 0 auto;
}

menu {
  width: 1000px;
  height: 50px;

  margin-top: -50px;
  position: fixed;
}

#menu a {
  display: block;
  width: 200px;

  font-size: 25px;
  padding: 12px 0;
  text-decoration: none;
  color: #303030;
  text-transform: uppercase;
}

#menu li {
  display: block;
  width: 200px;

  text-align: center;
  float: left;
  background: #daa520;
}

#menu li:hover {
  background: #daa520cc;
}

#menu li:active {
  background: #daa52055;
}
#menu li ul li:hover {
  background: red;
}
.menu_item {
  background: #daa52055;
  float: none;
}

#menu li ul {
  display: none;
}

#menu li:hover ul {
  display: block;
  background: #daa520cc;
}

header {
  width: 980px;
  height: 230px;
  margin-top: 50px;
  background: url('../img/image_22644.jpg');
  background-size: cover;
  padding: 10px;
}

.logo {
  width: 230px;
  height: 230px;
  background: url('../img/663.png');
  background-size: cover;
}

.content {
  width: 100%;
  min-height: 450px;
  background: #fdeaa8;
}

.left {
  width: 75%;
  min-height: 450px;
}

.right {
  width: 25%;
  min-height: 450px;
}

.clear {
  clear: both;
}

footer {
  width: 100%;
  height: 100px;
  background: #856777;
  color: silver;
}

.imagel {
  width: 250px;
  padding-right: 10px;
  float: left;
}

.left p {
  padding-top: 10px;
}

.left article {
  float: none;
  padding: 10px 0 0 0;
}
.left h3 {
  color: #303030;
}
